SUPERMEMORY_ENDPOINT=http://127.0.0.1:18765
SUPERMEMORY_AGENT_ID=agent_personal_manager
SUPERMEMORY_AGENT_DEVICE=device_home101
SUPERMEMORY_AGENT_TOKEN_FILE=/home/agent/.hermes/supermemory/agent.token
SUPERMEMORY_CAPTURE_SPOOL=/home/agent/.hermes/supermemory/spool
